  <link rel="stylesheet"   type="text/css" href="/css/home.css">

<section id="feed-posts">

<% if (locals.user){%>
      
      <div id ="feed-post">
      <h2> HELLO <%= user.name %> </h2>
      <h4>YOU CAN POST NEW FOOD ITEMS </h4>





     <form  action="/posts/create/<%=user._id%>" id="new-post-form"  enctype="multipart/form-data" method="post">
         <input type="text" name="content"  required placeholder="Name of food item">
         <input type="number" name ="price" placeholder="price" required>
         <input type="file" name="avatar" placeholder="item image">
         <input type="submit" value="post">
     </form>
     </div>
  <%}%>   

<div class="posts-container horizontal-list class="img-dis"">
<ul>
<h1 class="color2">NEW ITEMS</h1>
<% for (post of posts) {%>

<li  style="display:flex ;flex-direction:row;justify-content:space-between">
<div style="width:30vw"class="img">
<span >
<%=post.content %>

</span>
<span>
Price: <%=post.price %> </span>
<br>
<span>
   By  <%=post.user.name%>
</span>
<br>
<% if (locals.user && locals.user.id == post.user.id) { %>
<span class="color2"> Your food item, wanna delete it... </span>
<a href="/posts/destroy/<%=post._id%>/<%=user._id%>">X</a>
<%}%>
<% if(!locals.user){%>
<form action ="/customers/signIn"  method="get">
<input type="submit" value ="order">
</form>
<%}%>
</div>
<div style="padding-left:5vw;height:auto; width:40vw">

<img src="<%=post.avatar%>" alt="<%=post.name%>" width="100%" height="100%" ></span>
</div>
</li>
<%}%>
</ul>
</div>



<%if(title=="HOME"|| title=="Restaurant"){%>
<ul>
<h1 class="color2">SEE BY RESTAURANTS</h1>
<div class="restaurant">
<% for( u of all_users){%>
<li>
<a class="color1"> RESTAURANT NAME:  <%=u.name%></a><br>
<span>--------------------------------------------------------------</span><br>
<% for(ul of u.postid ){%>
<span>Item: <%=ul.content%></span><br>
<span>Price: <%=ul.price%></span><br>
<%if(!locals.user){%>
<form method="get" action="customers/signIn">
<input type="submit" value="order">
</form>
<%}%>
<span>--------------------------------------------------------------</span><br>
<%}%>
</li>
<%}%>
</div>
</ul>
<%}%>














 
</section>