
       
<link rel="stylesheet"   type="text/css" href="/css/home.css">


<section>

<div class="posts-container horizontal-list">
<ul>
<h1 class="color2"> New Items: Now order</h1>
<% for (post of posts) {%>
<li>
<span>
<%=post.content %>
</span>
<span>
Price: <%=post.price %>
</span>
<br>
<span>
By :<%=post.user.name%>

</span>




<br>
<form action="/customers/order/<%=post.id%>/<%=customer.id%>/<%=post.user.name%>/<%=post.user.id%>" method="post">
<input type="hidden" name="userid" value="<%=post.user.id%>">
<input type="submit" value="placeOrder">
</form>
</li>
<%}%>
</ul>
</div>



</section>





<section>
<ul>
<h1 class="color2">SEE BY RESTAURANTS</h1>

<div class="restaurant">
<% for( u of all_users){%>

<li>

<li>
<a class="color1"> RESTAURANT NAME:  <%=u.name%></a><br>
<span>--------------------------------------------------------------</span><br>

<% for(ul of u.postid ){%>


<span>Item: <%=ul.content%></span><br>
<span>Price: <%=ul.price%></span><br>



<input type="submit" value="place order">

<span>--------------------------------------------------------------</span><br>


<%}%>
</li>
<%}%>
</ul>
</section>





























