

<link rel="stylesheet"   type="text/css" href="/css/home.css">
<div class="posts-container horizontal-list">
<h2> HELLO <%=customer.name%></h2>

<h3> Your Details</h3>
<ul>
<li>
Email: <%=customer.email%>
</li>
<li>
Address:<%=customer.address%>
</li>
<li>
Phone: <%=customer.phone%>
</li>
<li>
Preference:<%=customer.preference%>
</li>
<ul>
</div>