
<link rel="stylesheet"   type="text/css" href="/css/home.css">
<div class="posts-container horizontal-list">
<ul>
<h1>ORDERS ARRIVED:</h1>
<%for (order of user.customersid ){%>
<h2>Order No:<%=count++%></h2>

<li>
<span>
 Order Name:<%=order.content%>
</span>
<br>
<span>
Price :<%=order.price%>
</span>
<br>
<span>
 Customer name :<%=order.id%>
</span><br>
<span>
Customer address:<%=order.add%>
</span><br>
<span>
Customer Mobile :<%=order.ph%>
</li>
<%}%>

</ul>
</div>